language: r
cache: packages
latex: false
fortran: false

r_check_args: '--no-manual'

matrix:
  include:
    - r: 3.4
    - r: 3.4
      addons:
        apt:
          sources:
            - sourceline: 'ppa:cran/travis'
          packages: libnode-dev
    - r: release
    - r: release
      addons:
        apt:
          packages: libnode-dev
    - os: osx
      brew_packages: v8
    - os: osx
      before_install:
        - brew install v8@3.15
        - brew link --force v8@3.15
    - os: osx
      disable_homebrew: true
    - r:3.6
      os: osx
      osx_image: xcode7.3
      disable_homebrew: true
      before_install: sed -i.bak 's/-isysroot /-I/g' $(R RHOME)/etc/Makeconf

addons:
  apt:
    packages:
      - libv8-dev

notifications:
  email:
    on_success: change
    on_failure: change
